<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<button (click)="onCoursesEdited()">Edit Courses</button>

<div class="courses"
     *ngIf="coreCourses[0] as course"
     #container>
  <!-- <course-card #cardRef1
               (courseSelected)="onCourseSelected($event)"
               [course]='coreCourses[0]'></course-card> -->

  <!-- ViewChildren -->
  <!-- <ng-container #cardsRef *ngFor="let course of coreCourses; let odd = odd">

    <course-card *ngIf="odd"
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    >
  </course-card>
</ng-container> -->

  <!-- content projection -->

  <ng-template #blankImage
               let-blah
               let-description="description">
    <p class="warn">{{blah}} - {{description}} has no image</p>
    <img src="../assets/empty-image.png"
         alt="">
  </ng-template>

  <!-- <ng-container *ngTemplateOutlet="blankImage; context:{courseName: course.description} "></ng-container> -->


  <course-card [noImageTtpl]="blankImage"
               (courseSelected)="onCourseSelected($event)"
               [course]='course'>

    <ng-template pTemplate="header">Header Content</ng-template>


    <course-image #courseImage
                  [src]="course.iconUrl"></course-image>


    <!-- <course-image #courseImage [src]="coreCourses[1].iconUrl"></course-image>
    <course-image #courseImage [src]="coreCourses[2].iconUrl"></course-image> -->

    <div class="course-description">
      {{course.longDescription}}
    </div>


    <h5>Total Lesons: 5</h5>
    Edit Desciption <textarea></textarea>
  </course-card>

  <!-- <course-card (courseSelected)="onCourseSelected($event)"
               [course]='course'>

    <h5>Total Lesons: 10</h5>

  </course-card> -->
</div>
